@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "script";
  src: url("/BeatifulVibes.ttf");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.75rem;
  }
}

.invert {
  filter: invert(1);
}

::selection {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  text-shadow: 0 0 15px hsl(var(--primary-foreground));
}

.mont {
  font-family: "Montserrat", sans-serif;
}
p,
a,
button,
.div,
.lato {
  font-family: "Lato", sans-serif;
}
.logo {
  font-family: "script", sans-serif;
}

.ryzz {
  text-shadow: 0 0 20px #ffffffb9;
}
::-webkit-scrollbar-track {
  @apply bg-muted;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-purple-400;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-screen;
  }
}

.animate-shake {
  animation: animate-shake 2.2s ease-in-out infinite;
}

@keyframes animate-shake {
  0%,
  10%,
  65%,
  100% {
    transform: rotate(0deg) scale(1);
  }
  30%,
  40% {
    transform: rotate(-1deg) scale(1.15);
  }
  35%,
  45% {
    transform: rotate(1deg) scale(1.15);
  }
}

img{
  -webkit-tap-highlight-color: transparent;
}